<p-panel>
  <p-header>
    Generate VIC Cards
  </p-header>

  <div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.title" [disabled]="loading" id="title" pInputText size="30" type="text">
            <label for="organization">Title</label>
        </span>
    </div>

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.name.firstNames" [disabled]="loading" id="firstName" pInputText size="30" type="text">
            <label for="firstName">First Name</label>
        </span>
    </div>

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.name.lastNames" [disabled]="loading" id="lastName" pInputText size="30" type="text">
            <label for="lastName">Last Name</label>
        </span>
    </div>

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.organization" [disabled]="loading" id="organization" pInputText size="30" type="text">
            <label for="organization">Organization</label>
        </span>
    </div>

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.telephone" [disabled]="loading" id="workPhone" pInputText size="30" type="tel">
            <label for="workPhone">Work Phone</label>
        </span>
    </div>

    <div class="ui-g-12 ui-md-12">
        <span class="ui-float-label">
            <input [(ngModel)]="vCard.email" [disabled]="loading" id="emailAddress" pInputText size="30" type="tel">
            <label for="emailAddress">E-Mail Address</label>
        </span>
    </div>
  </div>

  <p-footer style="text-align: center;">
    <div class="margin: 0 auto;">
      <button pButton type="button" class="ui-button-rounded" label="Generate" [disabled]="loading" (click)="generate()"></button>
      &nbsp;
      <button pButton type="reset" class="ui-button-danger ui-button-rounded" [disabled]="loading" label="Reset" (click)="resetVCard()"></button>
    </div>
  </p-footer>
</p-panel>

<br>

<p-panel header="VIC Cards" [hidden]="!QRCodes.length">
  <div id="contentToConvert">
    <p-card *ngFor="let QRCode of QRCodes" [header]="vCard.name.firstNames + ' ' + vCard.name.lastNames">
      <img [src]="QRCode">
    </p-card>
  </div>
</p-panel>
