<p-panel>
  <p-header>
    Sign Form
  </p-header>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <code style="border: 1px solid #ccc; background: #efefef; padding: 10px; display: block">
        {{status}}
      </code>
    </div>
  </div>

  <p-footer style="text-align: center;">
    <div class="margin: 0 auto;">
      <button pButton type="button" class="ui-button-rounded ui-button-success" label="📤 E-MAIL" [disabled]="loading" (click)="sendEMail()"></button>
    </div>
  </p-footer>
</p-panel>
